.box
{
    border-color: rgb(183, 131, 247);
    border-style: groove;
    width: 300px;
    margin: auto;
}

.box1
{
    border-style: solid;
    width: 25em;
    margin: auto;
    text-align: center;
}

.box2
{
    border-style: groove;
    width: 22em;
    margin: auto;
    text-align: center;
}

.button
{
    cursor: pointer;
    font-size: 18px;
    height: 25px;
}

li
{
    list-style: none;
}
